body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #222;
    color: #fff;
    padding: 1em;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav li {
    margin: 0 1em;
}

nav a {
    color: #fff;
    text-decoration: none;
}

h1, h2, h3 {
    margin: 0;
}

section {
    margin: 2em auto;
    max-width: 800px;
}

article {
    background-color: #fff;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

footer {
    background-color: #222;
    color: #fff;
    padding: 1em;
    text-align: center;
}

a:hover {
    color: #222;
    background-color: #fff;
    transition: all 0.2s ease-in-out;
}
