body {
  background-color: #111;
  color: #fff;
  font-family: Arial, sans-serif;
}


#center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
  font-weight: bold;
  cursor: pointer;
}

.glitch-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.glitch-text {
  font-size: 200px;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 0 2px #00ff00;
  animation: glitch 1s linear infinite;
}

@keyframes glitch {
  0% {
    transform: none;
    opacity: 1;
  }
  5% {
    transform: skew(0.5deg, 0.5deg);
    opacity: 0.75;
  }
  10% {
    transform: none;
    opacity: 1;
  }
  /* repeat the above glitching sequence every 20% */
  15%, 35%, 55%, 75%, 95% {
    transform: none;
    opacity: 1;
  }
  20%, 40%, 60%, 80% {
    transform: skew(-0.9deg, -0.9deg);
    opacity: 0.75;
  }
  25%, 45%, 65%, 85% {
    transform: none;
    opacity: 1;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}


.branch {
  position: absolute;
  height: 100%;
  width: 50%;
}

#top-left {
  left: 0;
}

#bottom-left {
  bottom: 0;
  left: 0;
}

#top-right {
  right: 0;
}

#bottom-right {
  bottom: 0;
  right: 0;
}

.mini-branch {
  display: none;
  position: absolute;
  height: 20px;
  width: 120px;
  background-color: #333;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  cursor: pointer;
}

#top-left:hover .mini-branch,
#bottom-left:hover .mini-branch,
#top-right:hover .mini-branch,
#bottom-right:hover .mini-branch {
  display: block;
}

#top-left .mini-branch {
  top: 20%;
  left: 40%;
  transform: translate(-50%, -100%);
}

#bottom-left .mini-branch {
  bottom: 20%;
  left: 40%;
  transform: translate(-50%, 100%);
}

#top-right .mini-branch {
  top: 20%;
  right: 40%;
  transform: translate(50%, -100%);
}

#bottom-right .mini-branch {
  bottom: 20;
  right: 40%;
  transform: translate(50%, 100%);
}
